@font-face {
    font-family: 'Racing Sans One';
    src: url('../fonts/racing-sans-one/RacingSansOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



